.avatar-medium .avatar-img {
	width: 32px;
	height: 32px;
	margin: 7px 0 0 7px;
}

.content-list .list-header {
    padding: 0 12px 12px;
}

.content-list .list-item {
	padding: 12px;
	margin-bottom: 12px;
}

.content-list .list-item:hover {
	box-shadow: 0 2px 8px rgba(14,20,26,0.1);
	cursor: default;
}

.list-item .btn.btn-squared {
	width: 32px;
	height: 32px;
	margin: 8px 0 0;
}

.list-item .btn.btn-squared span {
	line-height: 32px;
}